
better_sdt/.vs/better_sdt/FileContentIndex/079f28f9-d810-41cd-8cae-316c61cff2b2.vsidx
better_sdt/.vs/better_sdt/FileContentIndex/31b4f8ca-ba19-4507-b578-13de523be991.vsidx
better_sdt/.vs/better_sdt/FileContentIndex/38d30ebd-9af7-4db9-aabe-3c7e6ff9e0ed.vsidx
better_sdt/.vs/better_sdt/FileContentIndex/503ac0f9-aa7e-4968-b027-469fed9040e0.vsidx
better_sdt/.vs/better_sdt/FileContentIndex/57bab4e7-1dde-47af-b2c9-77faba8e0bce.vsidx
better_sdt/.vs/better_sdt/FileContentIndex/31b4f8ca-ba19-4507-b578-13de523be991.vsidx
better_sdt/.vs/better_sdt/FileContentIndex/38d30ebd-9af7-4db9-aabe-3c7e6ff9e0ed.vsidx
better_sdt/.vs/better_sdt/FileContentIndex/5dbf8495-2601-4190-b23a-e935f33d0acc.vsidx
better_sdt/.vs/better_sdt/FileContentIndex/fdb7cedc-ec55-49f5-b8d1-e55dd6cf99ff.vsidx
better_sdt/.vs/better_sdt/v17/.futdcache.v2
better_sdt/.vs/better_sdt/v17/.suo
better_sdt/.vs/better_sdt/v17/DocumentLayout.json
better_sdt/.vs/ProjectEvaluation/better_sdt.metadata.v8.bin
better_sdt/.vs/ProjectEvaluation/better_sdt.projects.v8.bin
better_sdt/.vs/ProjectEvaluation/better_sdt.strings.v8.bin
